* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#textArea {
  padding: 15px;
  width: 50%;
  margin-top: 20px;

	font-size: 17px;
  font-family: "Roboto Mono", monospace;
  resize: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  background: rgb(240, 211, 158);
  margin-top: 25px;
  padding: 40px;
  padding-bottom: 90px;
  padding-top: 50px;
  border-radius: 35px;
}

.keyboard-row {
  display: grid;
  grid-template-columns: repeat(46, 10px);
  grid-gap: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.key {
  height: 40px;
  grid-column-end: span 3;

  user-select: none;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto Mono", monospace;
  color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

  transition: background-color 0.1s, transform 0.1s, color 0.1s;
  cursor: pointer;
}

.functional-key {
  background: #e78354;
  color: #ffffff;
}

.functional-key:hover {
  color: #000;
}

.key:hover {
  background: #fae3d8;
}

.size-1 {
  grid-column-end: span 4;
}

.size-2 {
  grid-column-end: span 5;
}

.size-3 {
  grid-column-end: span 6;
}

.size-4 {
  grid-column-end: span 7;
}

.size-space {
  grid-column-end: span 21;
}

.pressed-btn {
	color: #ffffff;
  background: #f9a825 !important;
  transform: scale(0.95) skewX(5deg);
}

.language-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 50px;
  border: 3px solid #f9a825;
  background: #f9a825;
  color: #ffffff;

	user-select: none;
  cursor: pointer;
}

.tip {
  margin-top: 35px;
  font-family: "Roboto Mono", monospace;
  font-size: 21px;
}

span.key {
  display: inline-block;
	padding: 10px;
	font-size: 15px;
}

.next-lang {
  position: absolute;
  right: -150%;
  color: #f9a825;
}

.with-opacity {
	opacity: 0.5;
}
